@import url('https://fonts.googleapis.com/css?family=Dosis');
body {
        font-family: Dosis, sans-serif;
        background-color: aqua;
} 

main {
  width: 80%;
  margin: 1rem auto;
  
  justify-content: space-around;      
}

#moviesForm {
background-color: #eeeeee;
border: 1px solid #e3e3e3; 
padding: 1rem; 
}

dl {
        padding: 1rem;
}

dl li {
  list-style: none;
  margin-top: 1rem;
}

.flickName {
    margin: 0 0.75rem

}

.template {
    display: none;
}

.flick.fav {
    background-color: #ff62f2
}